@model Modelos.Nivel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h2 style="text-align:center;">CREAR NIVEL</h2>
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nivel1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nivel1, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Nivel1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" align="center">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn-primary btn">
                    <span class="glyphicon glyphicon-floppy-saved">GUARDAR</span>
                </button>
            </div>
        </div>
    </div>
}

