@model Modelos.Materia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h2 style="text-align:center;">ELIMINAR MATERIA</h2>
    </div>
</div>

<h3>SEGURO DESEAS ELIMINAR ESTA MATERIA?</h3>
<div>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NombreMateria)</th>
                        <th>@Html.DisplayNameFor(model => model.Creacion)</th>
                        <th>@Html.DisplayNameFor(model => model.Modificacion) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> @Html.DisplayFor(model => model.NombreMateria)</td>
                        <td> @Html.DisplayFor(model => model.Creacion)</td>
                        <td> @Html.DisplayFor(model => model.Modificacion)</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group" align="center">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn-danger btn">
                    <span class="glyphicon glyphicon-trash">ELIMINAR</span>
                </button>
            </div>
        </div>
    }
</div>