@model Modelos.Materia

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h2 style="text-align:center;">EDITAR NIVEL</h2>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MateriaId)

        <div class="form-group">
            @Html.LabelFor(model => model.NivelId, "NivelId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NivelId", null, htmlAttributes: new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.NivelId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EscuelaId, "EscuelaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EscuelaId", null, htmlAttributes: new { @class = "form-control selectpicker", required = "required" })
                @Html.ValidationMessageFor(model => model.EscuelaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioId, "UsuarioId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control selectpicker", required = "required" })
                @Html.ValidationMessageFor(model => model.UsuarioId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NombreMateria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreMateria, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.NombreMateria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" align="center">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn-primary btn">
                    <span class="glyphicon glyphicon-floppy-saved">ACTUALIZAR</span>
                </button>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#EscuelaId").attr('data-live-search', true);
        $("#UsuarioId").attr('data-live-search', true);
    });
</script>