@model Modelos.Sala

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h2 style="text-align:center;">ELIMINAR SALA</h2>
    </div>
</div>

<h3>SEGURO DESEAS ELIMINAR ESTE SALA?</h3>
<div>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre sala</th>
                        <th>@Html.DisplayNameFor(model => model.Creacion)</th>
                        <th>@Html.DisplayNameFor(model => model.Modificacion) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> @Html.DisplayFor(model => model.Salas)</td>
                        <td> @Html.DisplayFor(model => model.Creacion)</td>
                        <td> @Html.DisplayFor(model => model.Modificacion)</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group" align="center">
            <button type="submit" class="btn-danger btn">
                <span class="glyphicon glyphicon-trash">ELIMINAR</span>
            </button>
        </div>
    }
</div>
